AWS_REGION=ap-southeast-1
S3_BUCKET_NAME=<tên S3 bucket của nhóm>
DYNAMODB_DOCUMENTS_TABLE=Documents
DYNAMODB_INCIDENTS_TABLE=SecurityIncidents
JWT_SECRET_KEY=<chuỗi bí mật tùy chọn, tối thiểu 32 ký tự>
